body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 100px;
    padding: 0 200px;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #e5e7eb;
}

.section-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    padding: 0 200px;
    background-color: #1F2937;
    gap: 40px;
}

.section-one h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.section-one p {
    font-size: 18px;
    color: #e5e7eb;
}

.section-one button {
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 40px;
}

.one-b p {
    background-color: #6d747d;
    padding: 100px 200px;
}

.section-two {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 200px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.two-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.two-image-container {
    display: flex;
}

.section-three {
    display: flex;
    flex: 1;
    padding: 0 200px;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1F2937;
}

.section-three .quote {
    max-width: 800px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;

}

.section-three .author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.section-four {
    display: flex;
    flex: 1;
    padding: 0 200px;
    justify-content: center;
    align-items: center;
}

.four-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 30px 80px;
    color: #F9FAF8;
}

.four-box h3 {
    margin: 0;
    padding: 0;
}

.four-box p {
    margin: 0;
    padding: 0;
}

.four-button button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-style: solid;
    border-color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
}